<style type="text/css">
	p.hidden-word, div.message-board {
		font-size: 70px;
	}
</style>
<div>
	Lives: <span  id="lives"><%= @lives %></span>
</div>
<p class="hidden-word"><%= @hidden_word%></p>
<form method="POST" action="/new-letter">
	<p>Ingrese su letra: <input type="text" name="new_letter" /></p>
	<input type="submit" value="ok">
</form>

<div id="message-board">
	<%= @messages || "&nbsp;" %>
</div>

<div id="wrong-letters">
	<%= @wrong_letters.join('-') %>
</div>
