<style type="text/css">
	p.hidden-word {
		font-size: 70px;
	}
</style>
<p class="hidden-word"><%= @hidden_word%></p>
<form method="POST" action="/new-letter">
	<p>Ingrese su letra: <input type="text" name="new_letter" /></p>
	<input type="submit" value="ok">
</form>
